.banner-content {
    position: relative;
}

.banner-content img {
    display: flex;
    width: 100vw;
    height: auto;
    margin: 0 auto;
}
.icon-nav img {    
    margin-top: 3vh;     
    margin-left: 15vw;
    width: 52px;
    height: 52px;    
}

.banner-content-text {
    display: flex;
    flex-direction: column;
    width: 75vw;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 2vh auto;
    gap: 3vh;
}

.banner-content-text p {
    text-align: justify;
}

.redes-sociais {
    display: flex;
    width: 35vw;
    height: 5vh;
    margin-bottom: 2.5vh;
    gap: 3vw;
}

.redes-sociais img {
    display: flex;
    width: 52px;
    transition: .3s ease-in;
    border-radius: 15px;    
}

.redes-sociais img:hover {
    transform: scale(1.1);
    filter: invert(1);
}

.section-content {
    display: flex;
    width: 75vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    height: auto;
    margin: 0 auto;
    padding-bottom: 5vh
}

form {
    display: flex;
    flex-direction: column;
    gap: 2vh;

}
::placeholder {
  margin-left: 10px;
}
.formulario #nome,
#email {
    width: 250px;
    height: 30px; 
    
    border: 2px solid #ffd700;
    box-shadow: 2px 2px #558abb75;
}
.formulario #telefone {
    width: 130px;    
    height: 30px;
    border: 2px solid #ffd700;
    box-shadow: 2px 2px #558abb75;
}

.formulario #idade {
    width: 130px;
    height: 35px;
    text-align: center;
    text-justify: auto;    
    border: 2px solid #ffd700;
    box-shadow: 2px 2px #558abb75;
}

.formulario #mensagem {
    width: 250px;
    height: 35px;   
    border: 2px solid #ffd700;
    box-shadow: 2px 2px #558abb75;
}

.formulario #botao {
    width: 80px;
    height: 35px;
    text-align: center;
    text-justify: auto;
    border: 2px solid #ffd700;
    box-shadow: 2px 2px #558abb75;
    transition: .3s ease;
    cursor: pointer;
}

.formulario #botao:hover {
    transform: scale(1.05);
}

.formulario #reset {
    width: 80px;
    height: 35px;
    text-align: center;
    text-justify: auto;
    border: 2px solid #ffd700;
    box-shadow: 2px 2px #558abb75;
    cursor: pointer;
    transition: .3s ease;
}

.formulario #reset:hover {
    transform: scale(1.05);
}
