*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
    width: 0%;
}
a { text-decoration: none; }
.nav-content{
    display: flex;
    width: 100vw; height: 6vh; 
    background-image:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);    
}
nav.dropdown{
    display: flex;
    align-items: center; justify-content: space-between;    
    width: 75vw; height: 6vh; margin: 0 auto;    
    font-size: 14px; font-weight: 400; font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 4vw;    
}
nav .link{
    position: relative;
    justify-content: space-between;
    display: flex;
    gap: 2vw;       
}
div.link a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 6vh;
    color: #fff; 
    transition: 0.7s ease;  
}
.active{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(134, 100, 24, 0.363) 100%); 
}
.logo{
    height: 4.2vh;
}

nav a:hover{
    transform: scale(1.07);
    color: blue;
}

header{width: 100%;}
main{width: 100%;}
footer{width: 100%;}
.slide{
    display: flex;
    width: 100vw;
    height: auto;
}
main{
    position: relative;
}
.slide img{
    position: absolute;
    margin-top: 20px;
    width: 100vw;
    height: auto;
    z-index: -2;
}
button.slick-prev{
    position: absolute;    
    font-size: 0;
    border: transparent;
    background-color: transparent;    
}
button.slick-next{
    position: absolute;
       font-size: 0;
    border: transparent;
    background-color: transparent;      
}
/* ANUNCIOS */
.anuncios{    
    width: 100vw;
    margin: 0 auto;    
}
.text-anuncios{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10vw;
    margin-bottom: 1.5vh;
    gap: 2vh;
}
.text-anuncios .icon-nav img {
    position: absolute; 
    top: -4vh;
    left: 0;
    width: 52px;
    height: 52px;    
}
.conteudo-mais{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}
.anuncio-cont{    
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content:space-between;    
    width: 300px; height: 350px;
    margin: 20px 2vh;     
}
.anuncio-cont h3{
    text-align: center;
    font-size: 12px;
}
.anuncio-cont p{
    font-size: 10px;
    text-align: justify;
}
.img-anuncios-1 img{
    transition: .3s ease; 
}
.img-anuncios-1 img:hover{    
    transform: translateY(2px);
    border-bottom: 3px solid blue;
}
.img-anuncios-2 img{
    padding-top: 56px;
    transition: .3s ease;    
}
.img-anuncios-2 img:hover{    
    transform: translateY(2px);
    border-bottom: 3px solid blue;
}
.img-anuncios-3 img{
    padding-top: 27px;
    transition: .3s ease; 
}
.img-anuncios-3 img:hover{    
    transform: translateY(2px);
    border-bottom: 3px solid blue;
}
.img-anuncios-4 img{
    padding-top: 42px;
    transition: .3s ease; 
}
.img-anuncios-4 img:hover{    
    transform: translateY(2px);
    border-bottom: 3px solid blue;
}
.img-anuncios-1 img, .img-anuncios-2 img, .img-anuncios-3 img, .img-anuncios-4 img{
    display: flex;
    width: 100%; height: auto;
}


/* BRANDS */
.link-brand{
    position: relative;
    display: flex;
    height: 50px;
    gap: 10vw;
    bottom: 7vh;
    align-items: center;
    justify-content: center;
    z-index: 999999;    
}
.link-brand a{
    display: flex;
    width: 75px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.link-brand a img{
    position: absolute;
    width: 75px;
    transition: .7s ease;     
}
.link-brand a img:hover{
    transform: scale(1.1);
    filter: invert(1);
}

/* Footer */

footer{
    display: flex;
    width: 100vw; height: 20vh; 
    background-image:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-top: 5px solid #ffd700;    
}
.footer-content{
    position: relative;
    display: flex;
    flex-direction: column;       
    width: 75vw; height: 20vh; margin: 0 auto;    
    font-size: 14px; font-weight: 400; font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 2vw;  
}
.footer-content-1{    
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 20vh;    
}
.footer-texto{
    margin-top:2vh;
}
.footer-logo{
    position: absolute;
    display: flex;
    width:20vw;
    height: auto;   
    z-index: 999999999;
    top: 6vh;
    right: 0;    
}
.footer-logo img{
    width:20vw;
    height: auto;
}
.contato {
    margin-top: 2vh;
}
.contato {
    transition: .3s ease;
}
.contato :hover{    
    box-shadow:  3px 2px #558ABB;
}





@media (max-width: 480px){
    div.link{
        position: absolute;
        display: none;
        flex-wrap: wrap;
        width: 100px;
        height: 222px;       
    }
}
@media (min-width: 480px){
    
}
@media (min-width: 825px){
    .imgMenu{
        display: none;
    }    
}  
@media (max-width: 825px){
    nav a{
        height: 3.8vh;
        margin-left: 5px;
    }
    .imgMenu{
        display: block;
        cursor: pointer;       
    } 
      
    div.link{
        position: absolute;
        display: none;
        flex-wrap: wrap;
        width: 27vw;
        height: 27vh;
        border-radius: 5px;
        top: 7.1vh;   
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.41436464088397795) 100%); 
        transition: .7s ease;
        z-index: 4;                             
    }
     
    div.link a{
        display: flex;
        gap: 4vh;        
        border-bottom: 5px solid #55ff71;
        width: 25vw;
        height: 4.5vh;        
        margin-top: 5px;        
    } 
       
    img.imgMenu{
        transition: 0.7s ease;         
    }
    img.imgMenu:hover{
        transform: scale(1.1);
        filter: invert(1);        
    }    
    nav.dropdown:hover .link{        
        transform: scale(1.1);
        display: block;
        z-index: 99999;                
        
    }
    
}
